<header class="p-3 text-bg-dark">

    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
          <h2>DjangoPractice</h2>
        </a>
        <ul class="container nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2 text-white">Home</a></li>
          <li><a href="{% url 'rate_list' %}" class="nav-link px-2 text-white">Statistics</a></li>
          <li><a href="{% url 'source_list' %}" class="nav-link px-2 text-white">Sources</a></li>
          <!-- <li><a href="" class="nav-link px-2 text-white">Pricing</a></li> -->
          <li><a href="{% url 'contactus_list' %}" class="nav-link px-2 text-white">Support</a></li>
      {% if request.user.is_superuser %}
          <li><a href="{% url 'response_list' %}" class="nav-link px-2 text-white">Logs</a></button>
      {% endif %}
        </ul>

      {% if request.user.is_authenticated %}
        <div class="text-end">
          <a href="{% url 'user_profile' %}" class="text-white">{{request.user.email}}</a>
          <button type="button" class="btn btn-outline-light me-2"><a href="{% url 'logout' %}" class="nav-link px-2">LogOut</a></button>
        </div>
      {% elif not request.user.is_authenticated %}
        <div class="text-end">
          <button type="button" class="btn btn-outline-light me-2"><a href="{% url 'login' %}" class="nav-link px-2">LogIn</a></button>
          <button type="button" class="btn btn-warning"><a href="{% url 'signup' %}" class="nav-link px-2">SingUp</a></button>
        </div>
      {% endif %}
      </div>
    </div>

</header>
