{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block table %}

<div class="container mt-3">
    <h2>Currency Rate Statistics</h2>
    <p>List for collecting and displaying information about currency changes.</p>

    <div class="d-grid">
        <button type="button" class="btn btn-primary btn-block"><a href="{% url 'rate_create' %}" class="nav-link px-2 text-black">Create Rate</a></button>
      </div>
      <br>
    
    <form method="get">
        {{ filter.form | crispy }}
            
        <label for="id_page_size">Item per page</label>
        <select name="page_size" id="id_page_size">
            {% for page_size_option in page_size_options %}
                <option value="{{ page_size_option }}"
                    {% if page_size == page_size_option %}selected{% endif %}>
                    {{ page_size_option }}
                </option>
            {% endfor %}
        </select>

        <button type="submit">Filter</button>
    </form>
    
    <br>
    <table class="table table-white table-striped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>CURRENCY</th>
                <th>BASE_CURRENCY</th>
                <th>BUY</th>
                <th>SELL</th>
                <th>SOURCE</th>
                <th>DATE</th>
                <th>OPTIONS</th>
            </tr>
        </thead>

    {% if not request.user.is_superuser %}
        {% for data in object_list %}
            <tr>
                <th>{{data.id}}</th>
                <th>{{data.ccy}}</th>
                <th>{{data.base_ccy}}</th>
                <th>{{data.buy}}</th>
                <th>{{data.sell}}</th>
                <th>{{data.source.name}}</th>
                <th>{{data.created}}</th>
                <th><button type="button" class="btn btn-info"><a href="{% url 'rate_detail' data.id %}" class="nav-link px-2 text-black">Details</a></button></th>
            </tr>
        {% endfor %}
    
    {% elif request.user.is_superuser %}
        {% for data in object_list %}
            <tr>
                <th>{{data.id}}</th>
                <th>{{data.ccy}}</th>
                <th>{{data.base_ccy}}</th>
                <th>{{data.buy}}</th>
                <th>{{data.sell}}</th>
                <th>{{data.source.name}}</th>
                <th>{{data.created}}</th>
                <th><button type="button" class="btn btn-info"><a href="{% url 'rate_detail' data.id %}" class="nav-link px-2 text-black">Details</a></button></th>
                <th><button type="button" class="btn btn-warning"><a href="{% url 'rate_update' data.id %}" class="nav-link px-2 text-black">Edit</a></button>
                <button type="button" class="btn btn-danger"><a href="{% url 'rate_delete' data.id %}" class="nav-link px-2 text-black">Delete</a></button></th>

            </tr>
        {% endfor %}
    {% endif %}
        </tbody>
    </table>

    {% include 'parts/paginator.html' %}

</div>
{% endblock table %}