{% extends "base.html" %}

{% block table %}

<div class="container mt-3">
    <h2>Logs Information</h2>
    <table class="table table-white table-striped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>PATH</th>
                <th>REQUEST METHOD</th>
                <th>REQUEST PARAMS</th>
                <th>IP ADRESS </th>
                <th>RESPONSE TIME</th>
            </tr>
        </thead>

    {% if request.user.is_superuser %}
        {% for data in object_list %}
            <tr>
                <th>{{data.id}}</th>
                <th>{{data.path}}</th>
                <th>{{data.request_method}}</th>
                <th>{{data.query_params}}</th>
                <th>{{data.ip}}</th>
                <th>{{data.response_time}}</th>
            </tr>
        {% endfor %}
    
    {% elif not request.user.is_superuser %}
        <h2>ACCESS DENIED</h2>
    {% endif %}
        </tbody>
    </table>
</div>

{% endblock table %}
