{% extends "base.html" %}

{% block table %}
    <a href="/">HOME</a>

    <p>{{ message }}</p>

<table>
    <tr>
        <th style="background-color: yellow">__id__</th>
        <th style="background-color: green">__Email from__</th>
        <th style="background-color: green">__Email to__</th>
        <th style="background-color: red">__Subject__</th>
        <th style="background-color: blue">__Message__</th>
    </tr>
    {% for data in datalist %}
    <tr>
        <td style="background-color: yellow">{{data.id}}</td>
        <td style="background-color: green">{{data.email_from}}</td>
        <td style="background-color: green">{{data.email_to}}</td>
        <td style="background-color: red">{{data.subject}}</td>
        <td style="background-color: blue">{{data.message}}</td>
    </tr>
    {% endfor %}

{% endblock table %}
