{% extends "base.html" %}


{% block table %}
    
    <p>Rate list</p>
    <a href="{% url 'rate_create' %}">Create new data.</a>

<table> 
    <tr>
        <th style="background-color: yellow">id</th>
        <th style="background-color: green">Ccy</th>
        <th style="background-color: green">Base_ccy</th>
        <th style="background-color: red">Buy</th>
        <th style="background-color: blue">Sell</th>
    </tr>
    {% for data in object_list %}
    <tr>
        <td style="background-color: yellow">{{data.id}}</td>
        <td style="background-color: green">{{data.ccy}}</td>
        <td style="background-color: green">{{data.base_ccy}}</td>
        <td style="background-color: red">{{data.buy}}</td>
        <td style="background-color: blue">{{data.sell}}</td>
        <td style="background-color: white"><a href="{% url 'rate_detail' data.id %}">View Details</a></td>
        <td style="background-color: white"><a href="{% url 'rate_update' data.id %}">Edit</a></td>
        <td style="background-color: white"><a href="{% url 'rate_delete' data.id %}">Delete</a></td>
    </tr>
    {% endfor %}

{% endblock table %}
