{% extends "base.html" %}

{% block table %}

<div class="container mt-3">
    <h2>Sources Information</h2>
    <div class="d-grid">
        <button type="button" class="btn btn-primary btn-block"><a href="{% url 'source_create' %}" class="nav-link px-2 text-black">Create Source</a></button>
      </div>
      <br>
    <table class="table table-white table-striped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>SOURCE NAME</th>
                <th>SOURCE URL</th>
                <th>OPTIONS</th>
            </tr>
        </thead>

    {% if not request.user.is_superuser %}
        {% for data in object_list %}
            <tr>
                <th>{{data.id}}</th>
                <th>{{data.name}}</th>
                <th>{{data.source_url}}</th>
                <th><button type="button" class="btn btn-info"><a href="{% url 'source_detail' data.id %}" class="nav-link px-2 text-black">Details</a></button></th>
            </tr>
        {% endfor %}
    
    {% elif request.user.is_superuser %}
        {% for data in object_list %}
            <tr>
                <th>{{data.id}}</th>
                <th>{{data.name}}</th>
                <th>{{data.source_url}}</th>
                <th><button type="button" class="btn btn-info"><a href="{% url 'source_detail' data.id %}" class="nav-link px-2 text-black">Details</a></button></th>
                <th><button type="button" class="btn btn-warning"><a href="{% url 'source_update' data.id %}" class="nav-link px-2 text-black">Edit</a></button>
                <button type="button" class="btn btn-danger"><a href="{% url 'source_delete' data.id %}" class="nav-link px-2 text-black">Delete</a></button></th>

            </tr>
        {% endfor %}
    {% endif %}
        </tbody>
    </table>
</div>

{% endblock table %}
