{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block table %}
    <br>
    <form method="post" class="container w-50 form-control">
        <h2>Update ContactUs Data</h2>
        <br>
        {% csrf_token %}
        <!-- {{ form.as_p }} -->
        {{ form | crispy }}
        <button type="submit" class="btn btn-success">SAVE</button>
        <button type="button" class="btn btn-secondary"><a href="{% url 'contactus_list' %}" class="nav-link px-2">BACK</a></button>
    </form>

{% endblock table %}