{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block table %}
    <br>
    <form method="post" class="container w-50 form-control">
        <h2>Log In Account</h2>
        <br>
        {% csrf_token %}
        <!-- {{ form.as_p }} -->
        {{ form | crispy }}
        <button type="submit" class="btn btn-success">ENTER</button>
        <button type="button" class="btn btn-secondary"><a href="{% url 'password_reset' %}" class="nav-link px-2">FORGOT A PASSWORD</a></button>
    </form>
    
{% endblock table %} 